[alias]
  amend = commit --amend
  br = branch
  ci = commit
  cl = clone
  co = checkout
  ctags = "!.git/hooks/ctags"
  dff = diff
  dif = diff
  dl = "!git ll -1"
  dlc = diff --cached HEAD^
  ds = diff --staged
  filelog = log -u
  fl = log -u
  graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  la = "!git config -l | grep alias | cut -c 7-"
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]%Creset" --decorate --date=relative
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]%Creset" --decorate --date=short
  le = log --oneline --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\\ %C(green)(%cr)%Creset" --decorate --numstat
  lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\\ %C(green)(%cr)%Creset" --decorate
  purr = pull --rebase
  sl = stash list
  st = status -sb
  standup=!/Users/wbrady/projects/git_stand_up
  standup-here = log --since '1 day ago' --oneline --author 'Will Brady' --no-merges --branches=*
  today = log --since 'midnight' --author 'wbrady@taximagic.com' --oneline
  undo = reset --soft HEAD^
	stash-unapply = !git stash show -p | git apply -R
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  excludesfile = /Users/wbrady/.gitignore
  editor = subl -n -w
  pager = less -F -X
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[push]
  default = current
[sendemail]
  from = Will Brady <wbrady@taximagic.com>
  chainreplyto = false
  confirm = auto
  suppresscc = all
  smtpencryption = tls
  smtpserver = smtp.gmail.com
  smtpuser = wbrady@taximagic.com
  smtpserverport = 587
[user]
  email = willgbrady@gmail.com
  name = Will Brady
[init]
  templatedir = '~/.git_template'
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[branch]
  autosetuprebase = always
