[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  cl = clone
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]%Creset" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]%Creset" --decorate --numstat
  lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]%Creset" --decorate --date=short
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]%Creset" --decorate --date=relative
  le = log --oneline --decorate
  filelog = log -u
  fl = log -u
  dl = "!git ll -1"
  dlc = diff --cached HEAD^
  la = "!git config -l | grep alias | cut -c 7-"
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  excludesfile = /Users/wbrady/.gitignore
  editor = mate -w
  pager = less -r
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[push]
  default = current
[sendemail]
  from = Will Brady <wbrady@nearinfinity.com>
  chainreplyto = false
  confirm = auto
  suppresscc = all
  smtpencryption = tls
  smtpserver = smtp.gmail.com
  smtpuser = wbrady@nearinfinity.com
  smtpserverport = 587
[user]
	email = wbrady@nearinfinity.com
	name = Will Brady
